/* ESTILOS GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-yellow: #FED049;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.inactive {
    display: none;
}
/* ESTILOS NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
    border-bottom: 2px solid var(--very-light-pink);
}

.menu {
    display: none;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.navbar-left {
    display: flex;
    margin-left: 1.2rem;
}

.navbar-left ul {
    display: flex;
    margin-left: 1.2rem;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 6rem;
}

.navbar-left ul li a, .navbar-right ul li a  {
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--white);
    padding: 0.8rem;
    border-radius: 0.8rem;
    font-size: var(--lg);
    font-weight: bold;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-yellow);
    color: var(--hospital-yellow);
} 

.navbar-email {
    color: var(--very-light-pink) ;
    cursor: pointer;
    font-size: var(--sm);
    margin-right: 1.2rem;
}

.navbar-shooping-cart {
    position: relative;
}

.navbar-shooping-cart div {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--hospital-yellow);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -0.6rem;
    right: -0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ESTILOS MENÚ DESKTOP*/
.desktop-menu {
    position: absolute;
    background: var(--white);
    top: 6rem;
    right: 5rem;
    width: 12rem;
    height: auto;
    border: 0.1rem solid var(--very-light-pink);
    border-radius: 0.6rem;
    padding: 2rem 2rem 0 2rem;
}

.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 2rem;
    border-top: 0.1rem solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-yellow);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: var(--md);
    display: inline-block;
    margin-bottom: 2rem;
}

/* ESTILOS EN MENÚ EN MOBILE*/
.mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 5.2rem;
    margin-top: 2rem;
    margin-left: 0;
    padding: 0 2.4rem 0 2.4rem;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    height: 80vh;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu a:nth-child(1) {
    font-size: var(--lg);
}


.mobile-menu ul {
    list-style: none;
    margin: 2.4rem 0 0 ;
}

.mobile-menu ul li {
    margin-bottom: 2.4rem;
    font-size: var(--md);
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:nth-child(2) {
    /*border-bottom: 1px solid var(--very-light-pink);*/
    font-size: var(--lg);
}

/*.mobile-menu ul:nth-child(3) {

}*/

.email {
    font-size: var(--sm);
    font-weight: 300 !important;
}

.salir {
    font-size: var(--sm);
    color: var(--hospital-yellow) !important;
    bottom: 0 !important; 
}

/* ESTILOS CARRITO DE COMPRA */

.product-detail {
    background-color: var(--white);
    width: 36rem;
    padding: 1.4rem;
    position: absolute;
    right: 0;
}

.title-container {
    display: flex;
    margin-bottom: 2rem;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 1.4rem;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.6rem;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 2.4rem;
    border-radius: 0.8rem;
    padding: 0 2.4rem;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
    font-size: var(--md);
}

.shopping-card {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
    align-items: center;
}

.shopping-card figure img {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    object-fit: cover;
    border: 0.1rem solid var(--very-light-pink);
}

.shopping-card p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
}

.shopping-card p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}


.primary-button {
    background-color: var(--hospital-yellow);
    border-radius: 0.8rem;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    color: #ffffff;
    height: 5rem;
}

@media (max-width: 640px) {
    .menu {
        display: block;
    }

    .navbar-left ul, .navbar-email, .desktop-menu{
        display: none;
    }

    .product-detail {
        width: 100%;
    }
}

@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}